/**************** POLICE ****************/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

/**************** MISE EN PAGE GENERALE ****************/
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;    
    transition: all 0.4s linear;
}
header{
    text-align: center;
    margin: 2em 0 1em 0;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}
.screenContainer{
    width: 60%;
    padding: 30px 0;
    margin: auto;
}
.screenContainer .screen{
    width: 100%;
    height: 35vh;
    resize: none;
    padding: 0.5em;
}
.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    margin: auto;
    padding: 35px;
}
.keyboardUppercase{
    text-transform: uppercase;
}

.keyboard-row{
    display: flex;
    flex-direction: row;
}
.keyboard-key{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 8px;
}
.large-key{
    width: 100px;
}
.x-large-key{
    width: 360px;
}

/**************** BOUTON CAPS LOCK ****************/

.caps-lock .lock{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 24px;
}
.caps-lock .lock input{
    opacity: 0;
    width: 0;
    height: 0;
}
.caps-lock i{
    cursor: pointer;
}
.caps-lock i::after{
    content: '';
    cursor : auto;
    position: absolute;
    right: -23px;
    top: -2px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

/**************** BOUTON POUR LE THEME SOMBRE ****************/

.switch-mode .switch{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.switch-mode .switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-mode .slider{
    position: absolute;
    cursor: pointer;
    border-radius: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}
.switch-mode .slider::before{
    content: "";
    position: absolute;
    left: 3px;
    bottom: 3px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: .4s;
}
.switch-mode input:checked + .slider::before{
    transform: translateX(19px);
}

/**************** FOOTER ****************/

footer{
    text-align: center;
    padding-top: 5em;
    letter-spacing: 0.1em;
}
