/**************** MISE EN PAGE GENERALE ****************/

body{
    background-color: rgb(235, 235, 235);
}
.screenContainer .screen{
    border: 3px solid black;
}
.keyboard{
    border: 3px solid black;
}
.keyboard-key{
    background-color: white;
    border: 1px solid black;
}

/**************** BOUTON CAPS LOCK ****************/

.caps-lock i{
    cursor: pointer;
}
.caps-lock i::after{
    background-color: rgba(0, 128, 0, 0.2);
}
.caps-lock input:checked + i::after{
    background-color: rgb(9, 216, 74);
    box-shadow: 0 0 12px rgb(9, 216, 74);
}

/**************** BOUTON POUR LE THEME SOMBRE ****************/

.switch-mode .slider{
    background-color: #000;
}
.switch-mode .slider::before{
    background-color: white;
}
.switch-mode input:checked + .slider{
    background-color: #000;
}
